
body{
	
	font-family:Helvetica Neue, Helvetica, Arial, San-serif;
	margin: 0px;
	padding: 0px;	
}

header{
	
	height:400px;
	background-color: black; 
	background-image:url("kaffelogo.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;
	text-align:center;
    
}

header a{
	
	text-decoration: none;
	margin-top: 100px;
	background-color:white;
	color:	white;
	contrast: 60px;
	text-transform:uppercase;
	position:relative;
	margin-right: 40px;
	top:70px;
	
}
/* Navigation lenk */

nav{
	
	margin:0px;
	height:50px;
	text-align: right;
	font-size: 22px;
	font-weight: bold;
	

}


	nav li{
		
		display:inline;
		margin-right:20px; 

	}
	
	nav ul{
		
		List-style-type:none;
		margin:0px;
		padding:0px;
	}	
/* aside bar begynner*/

aside ul{
	
	list-style-type:none;
	
}
aside li{
	
	margin:30px;
		
}


 div _section{
	
	background-color:white;
	max-width:500px;
	margin:auto;
	top : -100px;
	
	
}

/* Sidebar */

.fa-solid {
	color: black;
	
}

.lister:link, .lister:visited, .listerhover, .lister:active {
	text-decoration: none;
	color: rgb(46, 31, 9);
    font-size: 20px;
	margin-top: 10px;
}


/* to kolonner som flyter ved siden av hverandre */ 

.column {

	float: left; 
	padding: 70px; 

}

.left {

	width: 45%; 

}

.right {

	width: 55%; 
}

/* Blir kvitt flyt etter kolonner */ 

.row:after {

	content: ""; 
	display: table; 
	clear: both; 

}

/* Responsive layout */ 

@media screen and (max-width: 600px) {

	.column{
		width: 100%;
	}

}


}

/* Tittel <<Vår meny >> */ 

/* Tittel <<Vår meny >> */ 

.tittelSeksjon {

	text-align: center;
	margin-bottom: 60px; 

}

.tittelSeksjon h1 {

	font-size: 50px;
    color:  rgb(30, 102, 11);
    border: 2px solid green;
    border-color: rgb(48, 24, 4);
	margin: 50px;
    width: 900px;
    padding: 40px;
    border-radius: 30px;

  

}

.retterType {
    color: rgb(46, 31, 9);
    font-size: 22px;
    margin-left: 50px;
}
.enRetter{

    color: rgb(30, 102, 11);
    font-size: 20px;
}

.enRetter h3{
	
	padding-left: 0px;
}
.matBeskrivelse{
    color: rgb(0, 0, 0);
    font-size: 20px;

}

.pris{
	
	float: right;
	padding-right: 60px;
}

.allergen {

	background-color: lightgrey;
	opacity: 80%;
	border: none; 
	padding: 10px 24px; 
	border-radius: 16px;
	text-align: center; 
	text-decoration: none; 
	display: inline-block; 
	font-size: 16px; 

}

/* Ikoner */

.fa-solid {

	color: black;

}


/* Her starter styling av table */

th, td {
  padding: 55px;
  text-align: left; 
  background-color:rgb(245, 243,234);
  border-collapse: collapse;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  margin: 50px;
}

th{
	text-align:center;
}

/* footer delen starter her ifra */

footer{
	
	color:white;
	background-color:rgba(6,2,3,255);
	height: 400px;
	
}

footer a{
	
	text-decoration:underline;
	color:white;
}
	
  /* Styler adresse delen */
 
	address{
		
		font-style: normal;
		padding-left: 15px;
		text-align: left;
		font-size: 18px;
		line-height: 1.6;
		
	}
  
  /*  Styler kontakt informajon */
  
	h3{
		padding-left: 15px;
		padding-top: 20px;
	}
  
	#contact{
		
		line-height: 1.6;
		text-align: left;
		padding-left: 15px;
		font-size: 18px;;
	}
 
 
 /* Styler kopirett delen som er i footer */
 
	#copyright{
		
		text-align: center;
		height: 10px;
		font-size: 18px;
	}
	
 /* Styler åpningstider og setter den til høyre side av footer*/
 
	#tid{
		text-align:left;
		float: right;
		margin-top: -100px;
		padding-right: 15px;
		line-height: 1.6;
		font-size: 18px;
		
	}
	
	#_tid{
		padding-left:0px;
	
	}
